body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.clearfix:after {/*Отступ от меню*/
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}
header {
    background: url(../images/head.jpg) no-repeat center top / cover;
    padding: 10px 0;
}
.logo {
    width: 60px;
    height: 60px;
}
.header-container { /*Размер контейнера*/
    width: 90%;/*90 относительно экрана*/
    margin: 0 auto;
    display: flex;/*Чтобы начать работать с CSS Flexbox*/
    justify-content: space-between;/*Отвечает за выравнивание элементов по главной оси*/
}
.header-container a{
    font-size: 16px;
    margin-right: 63px;
    padding: 16px 6px;
}
.header-container a:hover{
    background: rgb(95, 94, 92);
    border-radius: 3px;
}
nav { 
    float: right;/*Выравнивание по правому краю*/
    margin-top: 3%;/*отступ сверху*/
}
#menu-checkbox{
    display: none;
}
.menu {/*Размер контейнера*/
    padding: 0;
    margin: 0;
    display: block;
}
li{
    list-style: none;
    display: flex;
}
.menu li {/*Размер контейнера*/
    float: left;
    display: block;
    margin-right: 41px;
}
.menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;/*Отмена встроенных декораций*/
    text-transform: uppercase;/*Изменение шрифта*/
    font-size: 14px;/*Расстояние между друг другом*/
}
.bigtitles{
    color: rgb(255, 253, 253);
    text-transform: uppercase;/*Изменение шрифта*/
    font-size: 40px;/*Расстояние между друг другом*/
    text-align: center;/*Выравнивание по центру*/
    margin-block-start: 15%;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 253, 253);
    text-transform: uppercase;/*Изменение шрифта*/
    font-size: 20px;/*Расстояние между друг другом*/
    text-align: center;/*Выравнивание по центру*/
    margin-block-end: 5%;
}

header a.button {
    background: rgb(95, 94, 92);
    color: rgb(45, 73, 66);
    border-radius: 3px;
    display: block;
    width: 200px;
    padding: 15px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-block-end: 15%;
}
.title {
    padding-top: 8%;

}
.title h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color:rgb(36, 44, 22);
    margin: 1px;
}
.title p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color:rgb(37, 63, 65);
    margin: 1px;
}
.services{
    display: flex;
    justify-content: space-between;
    margin: 5% 15%;

}
.services-item{
    width: 270px;
    float: left;
    text-align: center;
}
.icon {
    width: 80px;
    height: 80px;
}
.services-item h3{
    font-size: 18px;
    color: rgb(32, 63, 31);
    margin: 5px;
}
.services-item p{
    color: rgb(48, 54, 52);
    font-size: 14px;
}
.seazon{
    background-color: rgba(170, 170, 170, 0.411);
    background-size: cover;
    text-align: center;
}
.seazon h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(32, 63, 31);
    text-transform: uppercase;/*Изменение шрифта*/
    font-size: 30px;/*Расстояние между друг другом*/
    text-align: center;/*Выравнивание по центру*/
    padding: 20px 12px;
    margin: 0;
   }
   .seazon button {
       border: none;
       color: rgb(17, 63, 66);
       cursor: pointer;
       font-size: 16px;
       margin: 20px 5px;
   }
   .icon2{
       margin: 10px 1px;
   }
@media screen and (max-width: 420px) {
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-around;/*Равномерно распределяет элементы по ширине*/
    }
    .menu{
        display: none;
    }
    .menu li{
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .menu a{
        display: block;
        padding: 8px;
    }
    .bigtitles{
        margin-top: 150px;
    }
    .toggle-button{
        text-align: center;
        display: block;
        cursor: pointer;
        color: rgb(255, 255, 255);
        margin-top: 10px;
    }
    .toggle-button:after{/*обращаемся к атрибуду data-open*/
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .menu{/*Значёк переключателя*/
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
        content: attr(data-close);
    }
    .header-container a{
        margin-right: -65px;
    }
    .menu{
        position: fixed;/*Чтобы не прыгало меню*/
        top: 95px;
        right: 15px;
    }
    .services{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 15%;
    }
    .services-item p{
    margin-block-end: 20%;
    }
}

